body {
    background-color: #c6d8d85c;
    font-family: 'Karla', sans-serif;
}

body::before {
  content: "❓";
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35vw;
  color: rgba(0, 0, 0, 0.08);
  pointer-events: none;
  user-select: none;
  z-index: 0;
  transform: translateX(40%) translateY(20%) rotate(-25deg);
}

body::after {
  content: "❓";
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35vw;
  color: rgba(0, 0, 0, 0.08);
  pointer-events: none;
  user-select: none;
  z-index: 0;
  transform: translateX(-40%) translateY(20%) rotate(25deg);
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #293264;
}

.title-container h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.title-container p {
    font-size: 1.2rem;
    margin-top: 0;
    letter-spacing: -0.5px;
}

.start-btn {
    width: 193px;
    height: 52px;
    background-color: #4D5B9E;
    color: #f5f7fb;
    border: none;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.trivia-item {
    width: 100%;
    max-width: 600px;
    background-color: #f5f7fb;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.trivia-item h3 {
    margin: 0 0 0.5rem 0;
    color: #293264;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Karla', sans-serif;
}

.trivia-item p {
    margin: 0;
    color: #4D5B9E;
    font-size: 0.75rem;
    font-family: 'Inter', sans-serif;
}

.answers {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

.answers p {
    flex: 1;
    padding: 0.5rem;
    border-radius: 5px;
    align-self: center;
    cursor: pointer;
}

.correct {
    background-color: #94D7A2;
    padding: 0.5rem;
    border-radius: 5px;
    flex: 1;
    text-align: center;
}

.incorrect {
    background-color: #F8BCBC;
    padding: 0.5rem;
    border-radius: 5px;
    flex: 1;
    text-align: center;
}